@font-face {
    font-family: 'staywildy';
    src: url('assets/fonts/StayWildy/StayWildy.ttf');
    font-weight: normal;
    font-style: normal;
    }

    h1
    {
        font-family : staywildy, sans-serif;
        font-size : 4em;
    }

    #tchat
    {
        background-color:red;
        border:3px,solid,blue;
        box-shadow: 3px 3px 0 black ;
        border-radius: 12px;
        padding:20px;
        box-shadow: black;
    }

    .message
    {
        background-color:white;
        padding:10px;
        margin-top:5px;
        border-radius: 20px;
    }

    .articles
    {

        padding: 20px;
    }

    .article
    {
        border: 1px solid white;
        padding: 30px;
        box-shadow: #0b2e13 3px 3px 3px 3px;
        border-radius:10px;
        text-align: center;
        margin: 20px;
    }

.article-block
{
    display: inline-block;
}

.article-image
{
    width: 70%;
    height: 70%;
    display: inline-block;
}

.article-title
{
    font-weight: bold;
    font-size: 1.3em;
}
.article-content
{

}



    small
    {
        color:red;
    }
